<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UW Events</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href='/static/index.css' rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">UW Events</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/static/waterloo1.png')">
        <div class="container">
                    <div class="site-heading">
                        <h1>Event Notifications:</h1>
                        <ul class="button">
                            <li class="next">
                                <a href="/showSignUp">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </div>
           
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href=#>
                        <h1 class="post-title">
                            University of Waterloo
                        </h1>
                        <br><br>
                    </a>
                    <hr>
                </div>
                <div class="post-preview">
                    <a href=#>
                        <h2 class="post-title">
                            LIGHT Illuminated Exhibition
                        </h2>
                    </a>
                    <time>Thursday, October 15, 2015 - 10:00 AM to Monday, March 28, 2016 - 4:00 PM EDT</time>
                    <p class="post-subtitle">
                        (Example Event) Revel in art and technology while learning about the value of light through interactive installations at THEMUSEUM presented in partnership by the University of Waterloo, UWaterloo’s student chapter of The Optical Society, and the Institute for Quantum Computing.
                    </p>
                    <hr>
                </div>
                <div class="post-preview">
                    <a href=#>
                        <h2 class="post-title">
                            As the Women Sew: Community Quilts of Mampuján, Colombia
                        </h2>
                    </a>
                    <time>Monday, January 11, 2016 - 8:30 AM EST to Saturday, April 23, 2016 - 5:00 PM EDT</time>
                    <p class="post-subtitle">
                        The MSCU Centre for Peace Advancement is excited to announce our Winter 2016 Grebel Gallery exhibit, As the women sew: Community quilts of Mampuján, Colombia.
                    </p>
                    <hr>    
                </div>
                <div class="post-preview">
                    <a href=#>
                        <h2 class="post-title">
                            CIBC Employer Information Session
                        </h2>
                    </a>
                    <time>Monday, February 22, 2016 - 5:00 PM to 7:00 PM EST</time>
                    <p class="post-subtitle">
                        For Junior,<br/> 
                        Intermediate,<br/>
                        Senior Co-op Students<br/>
MATH - Statistics, MATH - Information Technology Management, MATH - Computer Science, MATH - Combinatorics & Optimization, ENG - Software, ENG - Electrical, ENG - Computer, ARTS - Arts & Business

Please register if you will be attending this session or cancel the session if you have registered for this and no longer want to attend it.
                    </p>
                    <hr>
                </div>
                <div class="load-more">
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">Older Posts &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; UW Events 2016</p>
                    <p class="copyright text-muted">Created by: Neo Chen, Jonathan Donas, Ryan Newman, Rolina Wu and Wang Yang</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/uw-events.min.js"></script>

</body>
</html>
