<!DOCTYPE html>
<html>
<head>
<title>UW Events</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h2>Sign up for event notifications</h1>

<form id="form" method="post" action="/signup">
        First Name:<br>
        <input type="text" id="inputName" name="inputName" placeholder="Name"required autofocus><br><br>
        Email Address:<br>
        <input type="text" id="inputEmail" name="inputEmail" placeholder="Email" required autofocus>
        <br><br>
        <button id="submit-btn" type="submit">Sign Up</button>

</body>
</html>

